@import url('./assets/normalize.css');
@import url('./assets/fonts.css');

.root {
  display: grid;

  box-sizing: border-box;
  width: 100%;
  height: 100vh;

  color: var(--color-light);
  background-color: var(--color-dark);

  font: normal 20px/2 'Inter', Arial, sans-serif;

  --color-dark: #323131;
  --color-light: #fff;
  -webkit-font-smoothing: antialiased;
  grid-template-columns: 1fr;
  justify-items: center;
  --main-width: 940px;
}

.common-width {
  display: grid;

  box-sizing: border-box;
  width: 100%;
  max-width: var(--main-width);
  padding: 0 20px;
}

.button {
  box-sizing: border-box;
  padding: 0;

  cursor: pointer;

  color: var(--color-light);
  border: none;
  background: transparent;
}

.link {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-decoration: none;

  color: var(--color-light);
}

.list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.header {
  align-items: center;
  justify-content: space-between;

  height: 90px;

  grid-template-columns: repeat(2, 1fr);
}

.player {
  display: flex;
  align-items: center;
}

.player__button {
  width: 50px;
  height: 50px;

  transition: 0.3s ease-in-out;
  animation: pulse 1s ease-in-out infinite alternate;

  border-radius: 50%;
  background-image: url(./assets/svg/play.svg);
  background-repeat: no-repeat;
  background-size: contain;

  filter: var(--color-light);
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.player__button:hover {
  transform: scale(1.1, 1.1);
}

.player__button.pause {
  animation: none;

  background-image: url(./assets/svg/pause.svg);
}

.header__title {
  margin: 0;

  text-transform: uppercase;

  font-size: 50px;
  line-height: 1;

  justify-self: right;
}

.main {
  align-items: center;

  height: calc(100vh - 150px);

  grid-template-columns: 1fr;
  justify-items: center;
}

@media screen and (max-width: 720px) {
  .main {
    align-items: flex-start;

    padding-bottom: 20px;
  }
}

.quotes {
  display: grid;

  width: 100%;
  max-width: 900px;

  gap: 20px 30px;
  grid-template-areas:
    'image text'
    'image buttons';
  grid-template-columns: 300px 1fr;
  justify-items: center;
}

@media screen and (max-width: 720px) {
  .quotes {
    align-content: start;

    height: 100%;

    grid-template-areas:
      'image'
      'text'
      'buttons';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content) 1fr;
  }
}

.quotes__figure {
  display: grid;

  margin: 0;

  gap: 20px;
  grid-area: image;
  grid-template-columns: 1fr;
  justify-items: center;
}

.quotes__image {
  box-sizing: border-box;
  width: 300px;
  height: 300px;

  border: 5px solid var(--color-light);
  border-radius: 50%;

  object-fit: cover;
}

.quotes__image.animation {
  animation: displayImage 1s forwards;

  opacity: 0;
}

@keyframes displayImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 380px) {
  .quotes__image {
    width: 275px;
    height: 275px;
  }
}

.quotes__text {
  width: 100%;
  margin: 0;

  font-size: 18px;
  line-height: 1.5;

  grid-area: text;
}

.quotes__author {
  margin: 0;

  font-size: 30px;
}

.quotes__buttons {
  display: flex;
  align-self: end;
  justify-content: right;

  width: 100%;

  gap: 15px;
  grid-area: buttons;
}

@media screen and (max-width: 720px) {
  .quotes__buttons {
    justify-content: center;
  }
}

.switcher {
  display: grid;
  align-content: space-between;
  align-self: center;

  height: 50px;

  font-size: 14px;

  justify-self: right;
}

.switcher__item {
  line-height: 1;
}

.switcher__button {
  width: 35px;
  height: 20px;

  transition: 0.3s ease-in-out;

  border: 1px solid var(--color-light);
  border-radius: 2px;
}

.switcher__button:hover {
  opacity: 0.7;
}

.switcher__button.active {
  color: var(--color-dark);
  background-color: var(--color-light);
}

.quotes__button {
  align-self: center;

  width: 200px;
  height: 50px;

  transition: 0.3s ease-in-out;

  border: 1px solid var(--color-light);
  border-radius: 2px;
  background-color: var(--color-dark);

  grid-area: button;
  justify-self: end;
}

.quotes__button:hover {
  opacity: 0.7;
}

.footer {
  align-items: center;
  justify-content: space-between;

  height: 60px;

  grid-template-columns: repeat(2, max-content);
}

@media screen and (max-width: 480px) {
  .footer {
    font-size: 14px;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;

  margin: 0;

  color: var(--color-light);

  gap: 20px;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__logo {
  width: 80px;
  height: auto;

  -webkit-filter: drop-shadow(0px 1px 1px var(--color-light));
  filter: drop-shadow(0px 1px 1px var(--color-light));
}
